.coupon-list-wrapper {
    margin: 0 10px;
}

.coupon-item-wrapper {
    margin-top: 30px;
    margin-bottom: 30px;
    height: 80px;
}

.coupon-item {
    position: relative;
    height: 100%;
}

.triangle {
    height: 12px;
    width: 30px;
    clip-path: polygon(0 0, 95% 0, 100% 100%);
}

.coupon-name {
    position: absolute;
    top: 8px;
    left: 10px;
    margin: 0 auto;

    font-size: 28px;
}

.coupon-info {
    position: absolute;
    bottom: 8px;
    left: 8px;
    margin: 0 auto;

    font-size: 18px;
}

.coupon-item p {
    font-weight: bold;
}

.coupon-item .arrow-icon {
    position: absolute;
    right: 10px;
    top: 20px;
    font-size: 40px;
}

.coupon-card {
    background-color: red;
}