@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Zen+Kaku+Gothic+Antique:wght@900&display=swap');

body {
  margin: 0;
  background-color: #FFFFFF;
}

.Inputbox {
  display: flex;
  flex-direction: column;
  margin-block: 80px;
  width: 60%;
}

.Usernamebox {
  max-width: 100%;
  padding-block: 10px;
  padding-inline:20px;
  font-size: 15px;
  border: solid 1px #5B42DE;
  border-radius: 5px;
  align-items: center;
  color: #262626;
  transition: 0.3s;
  margin-top: 5px;
}
.Usernamebox:focus {
  margin-top: 0;
  padding-block: 15px;
  outline: none;
}

.Homecontent h1 {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
  font-size: 15px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 5px;
  color: #262626;
}

.Submitbutton {
  margin-block: 10px;
  color: #FFFFFF;
  background-color: #5B42DE;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
  padding-block: 10px;
  border-radius: 5px;
  border: none;
}

.Submitbutton:active {
  background-color: #4a36b1;
}

.Loadwrapper {
  display: flex;
}

.Loadbox {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  background-color: #262626;
  margin: 5px;
  animation: flash 1s linear infinite;
}
.Loadwrapper #l1 {
  animation-delay: 0.1s;
}
.Loadwrapper #l2 {
  animation-delay: 0.2s;
}
.Loadwrapper #l3 {
  animation-delay: 0.3s;
}
.Loadwrapper #l4 {
  animation-delay: 0.4s;
}

@keyframes flash {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
  
  
  100% {
    opacity: 1;
  }
}