.register-modal {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 100;
}

.register-modal .modal-wrapper {
    width: 60vh;
    max-width: 90%;
    margin: 0 auto;
}

.input-box {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-block: 80px;
    width: 65%;
    text-align: center;
}

.input-box h2 {
    width: 100%;
}

.username-box {
    max-width: 100%;
    padding-block: 10px;
    padding-inline: 20px;
    font-size: 15px;
    border: solid 1px #5B42DE;
    border-radius: 5px;
    align-items: center;
    color: #262626;
    transition: 0.3s;
    margin-top: 5px;
}

.username-box:focus {
    margin-top: 0;
    padding-block: 15px;
    outline: none;
}

.submit-button {
    margin-block: 10px;
    color: #FFFFFF;
    background-color: #5B42DE;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    padding-block: 10px;
    border-radius: 5px;
    border: none;
}

.submit-button:active {
    background-color: #4a36b1;
}

#homemenu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 10px;
}

.app-icon {
    width: 80px;
    aspect-ratio: 1/1;

    margin: 20px 10px;
}

.app-icon img {
    border-radius: 10px;
}