.chapterlist-item {
    position: relative;
    height: 60px;
    border-bottom: solid #000000 1px;
}

.chapterlist-item .name {
    position: absolute;
    margin: 0;
    top: 10px;
    left: 15px;
}

.chapterlist-item .arrow-icon {
    position: absolute;
    right: 10px;
    top: 15px;
}